Source: lc-tools
Maintainer: Lukas Rademacher <lukas@rademacher.ac>
Section: web
Priority: optional
Standards-Version: 3.8.4

Package: lc-tools
Architecture: all
Depends: php5-cli|php7-cli, php-sqlite3, liveconfig, openssl
Description: Tools for Liveconfig
  This Liveconfig Tools manage Let's encypt certifikates
